@font-face{
	font-family: 'PTSans';
	src:local('PTSans');
	src:url('../fonts/PTSans/PT-SansRegular.ttf');
	font-weight: 400;
}

@font-face{
	font-family: 'PTSans';
	src:local('PTSans');
	src:url('../fonts/PTSans/PT-SansItalic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'PTSans';
	src:local('PTSans');
	src:url('../fonts/PTSans/PT-SansBold.ttf');
	font-weight: 700;
}


@font-face{
	font-family: 'PTSans';
	src:local('PTSans');
	src:url('../fonts/PTSans/PT-SansBoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'OpenSans';
	src:local('OpenSans');
	src:url('../fonts/OpenSans/OpenSans-Regular.ttf');
	font-weight: 400;
}


@font-face{
	font-family: 'Kurale';
	src:local('Kurale');
	src:url('../fonts/Kurale/Kurale-Regular.ttf');
	font-weight: 400;
}
