<footer class="footer">
	<div class="container">
		<div class="footer-body">
			<div class="footer-logo">
				<img src="img/logo.png" srcset="img/logo-2x.png 2x" alt="Логотип">
			</div>
			<div class="footer-about">
				<span class="footer-about__title">Группа компаний Emerald</span>
				<span class="footer-about__info">Организация свадебных торжеств</span>
			</div>
				<div class="footer-body__phone footer-phone">
					<a href="tel:+74951955722" class="footer-phone__link footer-phone--city">+7 (495) 195-57-22</a>
					<a href="tel:+79161724569" class="footer-phone__link footer-phone--mobile">+7 (916) 172-45-69</a>
					<a href="tel:+79853941057" class="footer-phone__link footer-phone--mobile">+7 (985) 394-10-57</a>
			</div>
			<ul class="footer-socials">
				<li class="footer-socials__item"><a href="javascript:void(0);" class="footer-socials__link footer-socials__link--vk"></a></li>
				<li class="footer-socials__item"><a href="javascript:void(0);" class="footer-socials__link footer-socials__link--instagram"></a></li>
				<li class="footer-socials__item"><a href="javascript:void(0);" class="footer-socials__link footer-socials__link--facebook"></a></li>
				<li class="footer-socials__item"><a href="javascript:void(0);" class="footer-socials__link footer-socials__link--wp"></a></li>
				<li class="footer-socials__item"><a href="javascript:void(0);" class="footer-socials__link footer-socials__link--youtube"></a></li>
			</ul>
		</div>
		<div class="footer-copyright">
				<span>© 2017  Все права защищены</span> 
				<a href="javascript:void(0);">Политика конфиденциальности</a>  
			</div>
	</div>
</footer>