<header class="header">
	<div class="container">
		<div class="header-body">
			<div class="header-nav">
				<div class="header-body__sandwich header-sandwich">
					<span class="header-sandwich__line"></span>
					<span class="header-sandwich__line"></span>
					<span class="header-sandwich__line"></span>
				</div>
				<span class="header-body__menu">Меню</span>
				<ul class="header-nav__submenu submenu">
					<li class="submenu__item"><a href="#main" class="submenu__link scroll-link">Главная</a></li>
					<li class="submenu__item"><a href="#services" class="submenu__link scroll-link">Услуги</a></li>
					<li class="submenu__item"><a href="#portfolio" class="submenu__link scroll-link">Портфолио</a></li>
					<li class="submenu__item"><a href="#price" class="submenu__link scroll-link">Стоимость</a></li>
					<li class="submenu__item"><a href="#team" class="submenu__link scroll-link">Наша команда</a></li>
					<li class="submenu__item"><a href="#partner" class="submenu__link scroll-link">Площадка-партнер</a></li>
					<li class="submenu__item"><a href="#reviews" class="submenu__link scroll-link">Отзывы</a></li>
					<li class="submenu__item"><a href="#other" class="submenu__link scroll-link">Не свадебные проекты</a></li>
					<li class="submenu__item"><a href="#secrets" class="submenu__link scroll-link">Контакты</a></li>
				</ul>
			</div>
			<div class="header-body__about">
				<h1 class="header-body__title">Группа компаний Emerald</h1>
				<span class="header-body__info">Организация свадебных торжеств</span>
			</div>
			<div class="header-body__logo"><img src="img/logo.png" srcset="img/logo-2x.png 2x"></div>
			<div class="header-body__phone header-phone">
				<a href="tel:+74951955722" class="header-phone__link">+7 (495) 195-57-22</a>
				<a href="tel:+79853941057" class="header-phone__link">+7 (985) 394-10-57</a>
			</div>
			<a href="#" class="header-btn g-btn g-btn--small">Заказать звонок</a>
		</div>
	</div>
</header>